* {
    margin: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    border: solid 1px;
}

.cabecalhoMenu {
    display: flex;
    gap: 42px;
}

.principal {
    background-image: url(pratileira.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    width: 100%;
    color: white;
}

.tituloProdutos {
    margin-left: 50px;
}

.produtos {
    background-color: whitesmoke;
    display: flex;
    gap: 80px;
    margin: 0 50px;
    border-radius: 5px;
    justify-content: center;
}

.tenis {
    margin-left: 32px;
}

.tenis img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 5px;
}

.tenis img:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.tenis p {
    color: #adadad;
}

.valorAnterior {
    text-decoration: line-through;
}

.buttom {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #fff!important;
    color: #151415;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 20%);
}